.aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100vw;
}

.aside__locations{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aside__tips{
    display: flex;
    flex-direction: column;
    gap: 14px;
}